$m_color:#f0f0f0;   //默认主背景色

$m_txt_color:#9fc8f3;  //默认文字主颜色
$txtColorA:#77ace2; //文字颜色A
$txtColorB:#397bbf; //文字颜色B

$navigationBarTextStyle: #fff;  //标题栏文字颜色
$navigationBarBackgroundColor:#0d3763; //标题栏背景色

$tabBarColor:#9fc8f3;//底部文字颜色
$tabBarSelectedColor:#ffffff; //底部文字选中颜色
$tabBarBackgroundColor:#0d2e50;  //底部背景色

$botColor:#85b0e0;

$radius:0.2rem;


// 旋转- 使用参照 .myrotate
@keyframes rotate {
  /*开始转的角度*/
  from {
    transform: rotate(0deg);
  }/*结束的角度*/
  to {
    transform: rotate(360deg);
  }
}
/*兼容ios*/
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myrotate{
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  animation-name: rotate; /*动画的名称 */
  animation-duration: 2000ms; /*动画从开始到结束的时间*/
  animation-timing-function: linear; /*动画执行快慢的参数*/
  animation-iteration-count: infinite; /*动画执行多少次的参数*//*以下是兼容ios所需，参数意义与上相同*/
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}




// 定义1rem等于多少px
html{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $m_txt_color;
  background-color: $m_color;
  text-decoration: none;
}
ul,li{margin: 0;padding: 0}



.allpage{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.page{
  flex: 1;
  background: $m_color;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

}

.main{
  background-color: #f0f0f0;
  flex:1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
}
.mainDiv{
  padding-top: 3rem;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.head{
  height:3rem;
  background-color: $navigationBarBackgroundColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;

}
.head_title{
  flex:1;
  color: $navigationBarTextStyle;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin: 0rem 1rem;
  font-weight: bold;
}
.head-image{
  width: 1.8rem;
  height:  1.8rem;

}

.nav{
  height:3rem;
  background-color: $tabBarBackgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.navItem{
  color: $tabBarColor;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 0.725rem;
  flex-direction: column;
}
.navItem img{
  width: 1.5rem;
  height: 1.5rem;
}


.nav .router-link-exact-active{
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container{
  width: 100%;
  float: left;
  padding: 0.5rem 0rem;
  margin: 0.5rem 0rem 0rem 0rem;
  background: #fff;
  color: #404040;
}
.container_item{
  float: left;
  width: calc(100% - 1rem);
  padding: 0.5rem 0.5rem;
}



.container_but{
  float: left;
  width: calc(100% - 1rem);
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.container_title{
  height: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  font-size: 1.4rem;
  background: #76aae4;
  margin-top: -0.5rem;
  float: left;
  width: 100%;
  color: #fff;
  width: calc(100% - 1rem);
  padding: 0rem 0.5rem;
}

.fontA{
  font-weight: bold;
  font-size: 1rem;
}

.fontB{
  font-weight: bold;
  font-size: 0.875rem;
}
.fontC{
  font-weight: normal;
  font-size: 0.875rem;
}

.fontD{
  font-weight: normal;
  font-size: 0.875rem;
  color: #fff;
}
.fontF{
  font-weight: normal;
  font-size: 0.875rem;
  color: #a4a4a4;
  line-height: 1.6rem;
}

.fontG{
  font-weight: normal;
  font-size: 0.875rem;
  color: #999999;
}

.fontH{
  font-weight: normal;
  font-size: 0.725rem;
  color: #ccc;
}


.widthA{
  width: 40%;
  float: left;
}
.widthB{
  width: 60%;
  float: left;
}
.widthC{
  width: 30%;
  float: left;
}
.widthD{
  width: 50%;
  float: left;
}
.widthE{
  width: 100%;
  float: left;
}

.buttonA{
  margin: 0rem 2rem;
  width: 8rem;
  height: 2.5rem;
  border: none;
  color: #fff;
  background: #3987dd;
  -moz-border-radius:0.363rem;
  -webkit-border-radius:0.363rem;
  border-radius: 0.363rem;
}

.buttonB{
  margin: 0rem 2rem;
  width: 8rem;
  height: 2.5rem;
  color: #3987dd;
  background: #fff;
  border: 1px solid #3987dd;
  -moz-border-radius:0.363rem;
  -webkit-border-radius:0.363rem;
  border-radius: 0.363rem;
}



// main页样式----------------------------------------




.index_head{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $txtColorA;
  margin: 0.5rem 0rem;
}
.index_head_meun{
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.5rem;
}
.index_head_txt{
  display: flex;
  align-items: center;
}
.index_head_loc{
  color:$txtColorB;
  font-size: 0.725rem;
}
.index_head_city{
  color:$txtColorA;
  margin-right: 0.5rem;
  font-size: 0.925rem;
}



.swiper-container {
  width: 100%;

}

.swiper-slide{
  width: 100%;

}


.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 500ms;
  position: absolute;
}.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}


// 我的信息样式----------------------------------------
.about_head{
  float: left;
  width: 100%;
  background: #2c6fba;
  height: 6rem;

}
.about_head img{
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  float: left;
}
.about_head label{
  width: calc(100% - 7rem);
  height: 4rem;
  float: left;
  line-height: 2rem;
  margin: 1rem 0rem;
}
.about_main{
  float: left;
  width: 100%;
}

.list-item{
  height: 3rem;
  display: flex;
  align-items:center;
  justify-content:space-between;

}
.item-image{
  width: 1.2rem;
  height:  1.2rem;
  margin: 0.5rem;
}
.item-text{
  flex-grow: 1;
  height: 3rem;
  line-height: 3rem;
  color: $txtColorA;
  text-align: left;
  font-size: 0.875rem;
  text-decoration: none;
}
.list-item-line{
  width: 100%;
  height:1px;
  background-color: $botColor;
}

// 我的学习样式----------------------------------------

.navlist {
  width: 100%;
  height: 40px;
  width: 100%;
  overflow-x: auto;
  background: #fff;
  border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  position: fixed;
  top: 3rem;
  z-index: 2;
  list-style: none;
}

.navli {
  list-style: none;
  width: 6rem;
  line-height: 40px;
  height: 32px;
  text-align: center;
  float: left;
}

.navli i {
  font-style: normal;
  font-size: 16px;
}

.activeT {
  color: #ff0000;
  padding-bottom: .3rem;
  border-bottom: 2px solid #ff0000;
}

.swiper_con {
  width: 100%;
  top: 40px;
  margin-bottom: 0px;
  position: relative;
}

.choosegrand {
  position: absolute;
  top: -3px;
  right: 0;
}

.show {
  display: block;
}

.none {
  display: none;
}

.swiper-main img {
  float: left;
  width: 8rem;
  height: 6rem;
  margin: 0.5rem 1rem;
}

.swiper-main label {
  float: left;
  width: calc(100% - 11rem);
  line-height: 1.5rem;
  margin: 0.5rem 0rem;
}